@using Project_PRN211.Models
@model Bill

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>HAAN Hotel</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">


</head>
<!-- body -->
<body class="main-layout">

    @await Html.PartialAsync("Header")
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <form class="user" action="/Bill/CheckOut/@ViewBag.RomNO" method="post">
                            <input type="hidden" class="form-control form-control-user" name="para1"
                                   value="@ViewBag.RomNO" />
                            <input type="hidden" class="form-control form-control-user" name="b.GuestId"
                                   value="@ViewBag.GuestId" />
                            <div class="p-5">
                                @if (ViewBag.ok == 1)
                                {
                                    <div id="alertdiv" class="alert alert-success" role="alert">
                                        Checkout successfully!
                                    </div>
                                }
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Show Bill: </h1>
                                </div>


                                <div class="form-group">
                                    <label>Full name</label>
                                    <div>
                                        <span><strong>@ViewBag.GuestName</strong></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Payment Date</label>
                                    <div>
                                        <span><strong>@DateTime.Now.ToString("dd-MM-yyyy")</strong></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-6 mb-sm-0">
                                        <label>Payment Mode: </label>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="cash">
                                                <input class="form" id="cash" type="radio" name="b.PaymentMode" value="Cash" @(Model.PaymentMode.Equals("Cash") ? "checked" : "") />Cash
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="atm">
                                                <input id="atm" type="radio" name="b.PaymentMode" value="ATM/VISA" @(Model.PaymentMode.Equals("ATM/VISA") ? "checked" : "") />ATM/Visa
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="moto">
                                                <input id="moto" type="radio" name="b.PaymentMode" value="MOTO" @(Model.PaymentMode.Equals("MOTO") ? "checked" : "") />MOTO
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Total days:</label>
                                    <div>
                                        <span><strong>@ViewBag.Days</strong></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Total Price:</label>
                                    <div>
                                        <span><strong>@(string.Format("{0:#,0}", ViewBag.TotalPrice))</strong></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Note</label>

                                    <textarea name="b.Note" class="form-control form-control-user">
                                        @Model.Note
                                    </textarea>
                                </div>
                                @if (ViewBag.ok != 1)
                                {
                                    <div class="d-flex flex-row">
                                        <input class="btn btn-primary p-2" style="display: block; width: 100px" type="submit" value="Check out" name="Update" />
                                    </div>
                                }
                                @if (ViewBag.Err is not null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.Err
                                    </div>
                                }
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



    @await Html.PartialAsync("Footer")
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>